# Dune build output
/_build/

# OCaml tooling
/.merlin
/rfr.md
/src/parser.conflicts

# LaTeX build artifacts
*.aux
*.bbl
*.blg
*.brf
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.vrb
*.pyc

# Generated PDFs
# *.pdf
